@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
   
    
   
  }

  .header img {
   display: inline;
    width: 100px;
    height: 100px;
    ;
  }
  
  
  img
  {
    display: block;
  margin-left: auto;
  margin-right: auto;
    width: 700px;
    height: 100 px;
    
  }

  

  body {
    background-color: rgb(28, 53, 61);
    font-family: Montserrat;
    overflow-x: hidden;
  }

  article,
  aside,
  details,
  figure,
  footer,
  header,
  main,
  menu,
  nav,
  section,
  summary {
    display: block;
  }